# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env

# SQLite database files
*.db
*.sqlite3

# Logs and output files
*.log
*.txt
*.out

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Cache and temporary files
*.cache
*.tmp
*.bak
*.swp
*.swo

# IDE files
.vscode/
.idea/
*.iml

# System files
.DS_Store
Thumbs.db
